! Color scheme is determined via zsh themes

Xft.dpi: 96
URxvt.font:xft:JetBrains Mono Regular Nerd Font Complete:pixelsize=12
URxvt.letterSpace: -1
URxvt.lineSpace: 1.2
URxvt.borderLess: false
URxvt.externalBorder: 1
URxvt.internalBorder: 4
URxvt.imLocale: en_US-UTF-8

URxvt.scrollBar: false
URxvt.saveLines: 5000

URxvt.keysym.Meta-V: eval:paste_clipboard

URxvt.perl-ext-common:selection-to-clipboard
URxvt.clipboard.autocopy: true
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
